<?xml version="1.0" standalone="yes"?>
<ZeroWireSFA>
  <Server>
    <ID>1</ID>
    <Name>D-PEK-GGE</Name>
  </Server>
  <User>
    <ID>1</ID>
    <Name>Appolo.Chen</Name>
  </User>
  <User>
    <ID>2</ID>
    <Name>Glen.Ge</Name>
  </User>
  <Interval>
    <ID>1</ID>
    <Name>无</Name>
  </Interval>
  <Interval>
    <ID>2</ID>
    <Name>1</Name>
  </Interval>
  <Interval>
    <ID>3</ID>
    <Name>5</Name>
  </Interval>
  <Interval>
    <ID>4</ID>
    <Name>10</Name>
  </Interval>
  <Interval>
    <ID>5</ID>
    <Name>15</Name>
  </Interval>
  <Interval>
    <ID>6</ID>
    <Name>20</Name>
  </Interval>
  <Interval>
    <ID>7</ID>
    <Name>30</Name>
  </Interval>
  <Interval>
    <ID>8</ID>
    <Name>45</Name>
  </Interval>
  <Interval>
    <ID>9</ID>
    <Name>60</Name>
  </Interval>
  <Interval>
    <ID>10</ID>
    <Name>90</Name>
  </Interval>
  <Interval>
    <ID>11</ID>
    <Name>120</Name>
  </Interval>
  <Language>
    <ID>0</ID>
    <Name>简体中文</Name>
  </Language>
  <Language>
    <ID>1</ID>
    <Name>English</Name>
  </Language>
  <Style>
    <ID>1</ID>
    <Name>Style1</Name>
  </Style>
  <Style>
    <ID>2</ID>
    <Name>Style2</Name>
  </Style>
  <DateFormat>
    <ID>0</ID>
    <Name>YYYY-MM-DD</Name>
  </DateFormat>
  <AutoUpdate>
    <ID>0</ID>
    <Name>否</Name>
  </AutoUpdate>
  <AutoUpdate>
    <ID>1</ID>
    <Name>是</Name>
  </AutoUpdate>
</ZeroWireSFA>